langchain_openai
beautifulsoup4
chromadb
google-generativeai
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
numpy
pdf2image
pillow
python-dotenv
pytesseract
requests
selenium
sentence-transformers
spacy
streamlit
torch